html,body{
    height:100%;
}
body{
    --blue-theme-color:rgba(26, 34, 46, 1);
    --lemon-color:rgba(235, 238, 22, 1);

}
body{
    margin:auto;
    display:flex;
    flex-direction:column;
}
header{
    display: flex;
    margin:0;
}
.logo{
    width: 355px;
    height: 116px;
}
.nav-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(221, 219, 219, 0.43);
}
.nav-connect{
    background-color:#253241;
    justify-content: flex-end;
    display:flex;
    width: 100%;
    height:44px;
}
.icon-lang{
    width: 20.43px;
    height:20.43px;
}
.connect-link{
    width: 229px;
    background-color:yellow;
    height: 100%;
    margin-right: 70px;
    text-align: center;
    line-height:44px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.ico-lang{
    margin-right: 90px;
    display: flex;
    align-items: center;
}
.ico-lang img{
    margin-right: 5px;
}
nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1110px;
}
.nav-item{
    font-weight: 600;
    font-size: 26px;
    font-family: "Titillium Web", sans-serif;
}
@media screen  and (min-width:1187px) {
    .header-small{
        display:none;
    }
}
@media screen and (max-width: 1186px){
    .header-xl{
        display:none;
    }
    .logo{
        max-width: 30%;
         height: auto; 
    }
    header{
        justify-content: space-around;
        max-height:100px;
        background: rgba(26, 34, 46, 1);
    }
    .btn{
        font-size: 1em;
    }
    header .btn{
        margin:10px;
        align-self: center;
    }
}
.btn{
    border-radius: 4px;
    min-height: 20px;
    border:none;
    display:inline-flex;
    align-items: center;
    gap:1em;
    padding :0.5rem 1em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.btn-yellow{
    background: rgba(235, 238, 22, 1);
}
.nav-burger{
    display: flex;
    flex-direction: column;
}
.nav-burger div{
    background-color: black;
    height: 3px;
    width: 17px;
    margin-bottom:5px;
    border-radius: 2px;
}
.burger{
    width:2em;
    align-self: center;
}
.header-small label{
    align-self: center;
}

.navbar-xs{
    width: 450px;
    max-width: 100%;
    background: rgba(26, 34, 50, 1);
    position:fixed;
    top:0;
    right: 0;
    height: 100vh;
    z-index: 4;
    transform: translateX(100%);
    transition: transform 1s;
}
.text-white{
    color:white;
}
.ml-2{
    margin-left: 1.5rem;
}
.navbar-xs-header{
    display: flex;
    justify-content: space-between;
    margin:1rem;
    border-bottom: 1px solid white;
}
.close-btn{
    width: 32px;
    height: 32px;
    align-self: center;
}
.nav-xs-body{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.nav-xs-item{
    color:white;
    height: 55px;
    margin-left:1rem;
    border-bottom:1px dashed white;
    line-height: 55px;
}
.navbar-xs-title{
    color:white;
    font-size:1em;
}
#input-burger, #input-close{
    visibility: hidden;
}
#input-burger:checked ~ .navbar-xs{
    transform: translateX(0);
}
.pointer{
    cursor:pointer;
}


/* Footer */

/*variables */


/*fin variables*/
footer{
    background: var(--blue-theme-color);
    margin-top: auto;
    --footer-section-width:355px;
    --footer-section-width-l:250px;
    --footer-section-width-xs:180px;
}
.foot-title{
    color:white;
    font-weight: 800;
    font-size:1.4em;
    line-height: 28px;
    margin:5px;
    text-align:center;
    font-family: Archivo;
}
.foot-title img{
    vertical-align: middle;
}
.d-number{
    text-align:center;
    color: rgba(235, 238, 22, 1);
    font-size: 48px;
    margin:0px;
    transform: translateY(-30%);
    font-family: Archivo;
}
.footer-group{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 25px;
    margin-left:25px;
}
.foot-logo{
    width: var(--footer-section-width);
}
.foot-text{
    color:rgba(136, 140, 151, 1);
    font-size: 16px;
    font-family:Archivo;
    font-weight: 600;
}
.footer-link{
    display:flex;
    justify-content: center;
    margin-top:60px;
}
.footer-link img{
    width: 46px;
    margin-left:5px;
}
.footer-section{
    max-width:var(--footer-section-width) ;
}
.footer-section>h5{
    color:white;
    font-family: Titillium Web;
    font-size: 24px;
    margin:0;
    margin-top:20px;
    padding-bottom:10px;
}
.footer-section ul{
    list-style:none;
    font-size: 16px;   
    padding:0;
}
.footer-section li{
    margin-bottom:20px;
}
p.foot-text{
    padding-left: 30px;
    padding-right: 30px;
}
.foot-line{
    width:75px;
    height: 2px;
    background-color:rgba(235, 238, 22, 1);
    border-radius: 2px;
}
.info-contact{
    max-width: 266px;
}
.info-contact h4{
    font-size: 18px;
    color:white;
    font-family: "Titillium Web";
}
.info-contact img{
    width: 26px;
    float:left;
}
.info-contact p{
    color: rgba(235, 238, 22, 1);
    padding-left: 35px;
}
.input-mail{
    display:block;
    border:none;
    outline:none;
    background: none;
    width: 95%;
    color:rgba(136, 140, 151, 1);
}
.send-mail{
    position: relative;
    width: 50%;
    margin:auto;
    border-bottom: 1px solid rgba(77, 87, 101, 0.5);
    min-height: 25px;
    margin-bottom:20px;
}
.send-mail button{
    background:transparent;
    border:none;
    cursor:pointer;
    position:absolute;
    right:1px;
    bottom:1px
}
.send-mail img{
    width: 20px;
}
.copyright{
    height: 64px ;
    color:white;
    background: rgba(38, 42, 54, 1);
    justify-content: center;
    line-height: 64px;
    display:flex;
    font-family: Archivo;
    font-size: 16px;
    font-weight: 400;
}
.copyright div{
    margin-right: 25px;
}
.copyright span{
    color: rgba(235, 238, 22, 1);
}

@media screen and (max-width: 1460px){
    .footer-section{
        max-width: var(--footer-section-width-l);
    }
    .foot-logo{
        width: var(--footer-section-width-l);
    }
}
@media screen and (max-width:750px) {
    .footer-section:nth-of-type(1) {
        order:1;
    }
    .footer-section:nth-of-type(4) {
        display:none;
    }
}
@media screen and (max-width:570px) {
    .footer-section{
        max-width: var(--footer-section-width-xs);
    }
    .foot-logo{
        width: var(--footer-section-width-xs);
    }
    .foot-title{
        font-size:10px ;
    }
    .foot-title img{
        width: 29px;
    }
    .d-number{
        font-size:20px
    }
    .footer-section:nth-of-type(5) {
        order:2;
    }
    .footer-section>h5{
        margin-top:15px;
        font-size:15px;
    }
    .footer-group{
        margin-top:30px;
        margin-bottom:50px;
    }
    .foot-text, .footer-section ul{
        font-size:10px;
    }
    .info-contact h4{
        font-size: 11px;
    }
    .footer-link img{
        width:28px;
    }
    .info-contact img{
        width: 16px;
    }
    .info-contact p{
        font-size:9px;
    }
    .send-mail{
        width: 75%;
    }
    .copyright{
        font-size:10px;
    }
}
 .main{
    --max-width-main: 1440px;
 }
/*Banner*/
.banner-head{
    font-family: Montserrat;
    font-weight: 700;
}
.banner{
    background:url("images/banner.jpg") no-repeat;
    background-size:cover ;
    background-position: center;
    min-height:457px ;
    position: relative;
    display:flex;
}
.devis-banner, .banner-form{
    min-height:134px;
    background : var(--blue-theme-color);
    position: relative;
    z-index:3;
}
.banner-form{
    display:flex;
}
.devis-banner h4{
    margin:0;
    color:white;
    padding-top: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom:15px;
}
.devis-address{
    display:flex;
    justify-content: center;
}
.input-address{
    display:inline-block;
    margin-right: 35px;
    width: 190px;
    background-color: white;
    border-radius:4px;
    position: relative;
}
.input-address input, .input-address select{
    height:30px;
    border-radius:4px;
    border:none;
    outline:none;

}
.input-address.veh-select{
    margin-left:35px;
}
.input-address input{
    width: 80%;
    margin-left: 30px;
}
.input-address select{
    width: 100%;
    text-align: center;
}

.input-address label{
    position:absolute;
    top:10px;
    left:34px;
    font-size: 12px;
    font-family: Inter;
}
.in-addr-form{
    margin-right: 75px;
}
.in-addr-form input{
    margin-left:89px;
}
.in-addr-form .ms-1{
    margin-left:105px;
}
.devis-address .btn{
    background-color:var(--lemon-color);
    padding:0.5rem 2em;
}
.addr-ico, .addr2-ico{
    width: 15px;
    position:absolute;
    top:5px;
    left: 14px;
}
.addr2-ico{
    width: 18px;
    left:10px;
    top:7px;
}
.triangle{
    width: 35px;
    height:35px;
    background-color: var(--lemon-color);
    position:absolute;
    clip-path: polygon(0% 0%, 0 100%, 100% 100%  );
    margin:5px;
}
.t-bottom{
    left:0;
    bottom: 0;
}
.t-top{
    right: 0;
    top:0;
    transform: rotate(180deg) ;
}
.inclined-group{
    position:absolute;
    right:10%;
    bottom: 0;
    display: flex;
}
.inclined-bar{
    transform: skew(-20deg, 0deg)
}
.bar-blue{
    background-color:var(--blue-theme-color);
    height:388px;
    width: 76px;
}
.bar-yellow{
    height:457px;
    width: 152px;
    background-color:var(--lemon-color);
    margin-right: 13px;
    margin-left:13px;
}
.bar-bottom{
    align-self:flex-end;   
}
.bar-top{
    align-self:flex-start;
}
.car-banner{
    position:absolute;
    right: 5%;
    bottom:-20%;
    z-index: 2;
}
.banner-description{
    color:white;
    max-width:534px;
    margin:auto;
    margin-left: 10%;
    z-index:3;
}
.banner-title{
    font-size: 38px;
    margin-bottom:15px;
}
.banner-x-text{
    display:flex;
    color:var(--lemon-color);
    font-size:10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left:10px;
    margin-bottom:15px;
}
.banner-x{
    width: 27px;
    height:3px;
    background-color: var(--lemon-color);
    align-self: center;
    margin-right: 5px;
}
.banner-x-2{
    width: 50%;;
    font-size: 12px;
    margin-bottom: 15px;
}
.banner-more-text{
    background-color: var(--lemon-color);
    border-radius: 0;
    width: 170px;
    display: block;
}
@media screen and (max-width:720px){
    .devis-address{
        flex-direction: column;
        align-items: center;
    }
    .devis-banner{
        padding-bottom:10px;
    }
    .input-address{
        width: 90%;
        margin-right:0;
        margin-bottom: 15px;
    }
    .devis-address .btn{
        width: 90%;
        justify-content: center;
    }
    .triangle{
        display:none;
    }
    .bar-yellow{
        width: 50px;
    }
    .bar-blue{
        width: 22px;
    }
    .inclined-group{
        right: 17%;
    }
    .banner-description{
        max-width: 250px;
        margin-top:18%;
    }
    .banner-title{
        font-size:1.1em;
    }
    .banner-x-text{
        font-size:0.4em;
    }
    .banner-x-2{
        font-size:0.5em;
        width: 100%;
    }
    .banner-more-text{
        border-radius:4px;
    }
    .car-banner{
        right:0%;
        bottom:-20%;
    }
}
/*fin banner*/

/* list technologies*/
.service-list{
    font-family: Inter;
    font-weight: 600;
    
    margin:70px auto;
    max-width: var(--max-width-main);
    
}
.service-list h4{
    text-align: center;
    font-size: 2.5rem;
}
.service-list-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.service-list-item{
    display: flex;
    max-width: 370px;
    flex-direction: column;
    font-size:20px;
    font-weight: 400;
}
.service-list-item p{
    text-align:center;
}
.service-list-item img{
    width: 148px;
    align-self: center;
}
.some-image{
    display:flex;
    flex-direction: column;
    margin: 0 10px;
    --width-some-image:271px;
    --width-some-image-xs:185px;
    width: var(--width-some-image);
    font-family: Roboto;
}
.some-image-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width:var(--max-width-main);
    margin:auto;
}
.image-item{
    width: var(--width-some-image);
}
.some-image h5{
    text-transform: uppercase;
    font-size: 20px;
    margin:0;
    margin-top:10px;
    text-align: center;
}
.image-text p{
    font-size:11px;
    text-align: center;
}

@media screen and (max-width:795px){
    .service-list{
        margin: 35px 15px;
    }
    .service-list h4{
        font-size: 20px;
    }
    .service-list-item{
        width:140px ;
        font-size: 9px;
    }
    .some-image{
        width: var(--width-some-image-xs);
    }
    .image-item{
        width: var(--width-some-image-xs);
    }
}

/*caroussel images*/
.carousel-image{
    max-width: var(--max-width-main);
    margin:auto;
    position:relative;
    display:flex;
    justify-content:space-around;
}
.arrow-p{
    left:0;
}
.arrow-n{
    right: 0;
}
.carousel-btn{
    position:absolute;
    background: transparent;
    top:30%;
    border:none;
    cursor:pointer
}
.carrousel-icon{
    width: 44px;
}
.carousel-item{
    display:flex;
    flex-direction: column;
}
.carousel-desc{
    max-width: 551px;
    font-family: Fira Sans;
    text-align: center;
    margin:auto;
}
.carousel-desc p{
    font-size:17px;
}
.carousel-desc h4{
    font-size:22px;
}
.carousel-item-image{
    width: 539px;
    height: 302px;;
}
@media screen and (max-width:1095px){
    .carousel-item{
        display:none;
    }
    .carousel-item:nth-of-type(1){
        display:flex;
    }
    
}
 @media screen and (max-width:558px){
    .carousel-item-image{
        width: 405px;
        height:224px;
    }
    .carousel-desc{
        max-width: 278px;
    }
    .carousel-desc p{
        font-size:11px;
    }
    .carousel-desc h4{
        font-size: 16px;
    }
    .carrousel-icon{
        width: 32px;
    }
 } 
.partner-logo{
    display:flex;
    justify-content:space-between;
    background: rgba(243, 243, 243, 1);
    height: 241px;
    align-items: center;
    overflow-x: hidden;
}
.partner-item{
    animation: 4s linear 0s infinite alternate move_loop;
}
.partner-item img{
    width: 162px;
}
@keyframes move_loop{
    from{
        transform:translateX(0);
    }
    to{
        transform:translateX(100%);
    }
}
@media screen and (max-width:920px) {
    .partner-item img{
        width: 81px;
    }
}

.stats{
    display:flex;
    height: 250px;
    flex-wrap: wrap;
    padding:0 5%;
    margin:auto;
    align-items: center;
    background-color: var(--blue-theme-color);
    font-family: Lato;
}
.stat-item{
    flex:1;
    border-right: 0.75px solid rgba(204, 204, 204, 0.2);
    padding:0 10px;
}
.stat-item h5{
    font-family: Titillium Web;
    font-size: 63px;
    margin:0;
    color:white;
    line-height: 63px;
}
.stat-item h5 span{
    color:var(--lemon-color);
}
.stat-item p{
    color:white;
    font-size: 14px;
}
@media screen and (max-width:996px) {
    .stat-item{
        flex: 1 40%;
    }
    .stat-item h5{
        font-size:36px;
    }
    .stat-item p{
        font-size:10px;
    }
}
.contact{
    padding:0 5%;
}
.contact h3{
    font-size: 48px;
    font-weight: 600;
    font-family: Inter;
    text-align: center;
    margin-top: 25px;
}
.contact-way{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-way-item{
    height:184px;
    background: rgba(241, 245, 250, 1);
    text-align: center;
    font-family:Lato;
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    flex:1;
    margin: 15px;
}
.contact-way-item h4{
   margin:0;
   font-size: 16px;
}
.contact-way-item img{
    position:absolute;
    width: 80px;
    left: 35%;
    top:-22%;
}
@media screen and (max-width:996px){
    .contact-way-item{
        flex:1 40%;
        font-size: 10px;
    }
    .contact-way-item h4{
        font-size:12px;
    }
}
@media screen and (max-width:500px){
    .contact-way-item img{
        left:25%;

    }
}
.loc-message{
    display: flex;
    margin:45px;
    padding: 0 3%;
    justify-content: space-between;
}
.loca{
    width: 646px;
}
.contact-message{
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-bottom: 0;
    margin-left: 45px;
}
.contact-message h4 {
    margin:0;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-size:26px;
}
.contact-message h4 span{
    color:var(--lemon-color)
}
.contact-message p{
    margin:0;
    font-family: Lato;
    font-size: 15px;
    line-height: 24px;
}
.contact-message input, .contact-message textarea{
    margin:8px 0;
    border: 2px solid rgba(221, 221, 221, 1);
    padding-left: 3%;
    outline: none;
}
.contact-message input{
    min-height: 46px; 
}
.contact-message textarea{
    min-height: 130px;
    padding-top: 3%;
}
.chatbox{
    border:none;
    background:transparent;
    position: absolute;
    right: -15%;
    top:-50%;
}
.chatbox img{
    width: 85px;
}
.message-send{
    position: relative;
    margin-top:25px;
}
.message-send button[type='submit']{
    background-color: var(--lemon-color);
    border: 1px solid rgba(0, 0, 0, 1);
    color: rgba(26, 34, 46, 1);
    width: 187px;
    height: 44px;
    border-radius: 5px;
}
@media screen and (max-width:1045px) {
    .loc-message{
        flex-wrap: wrap;
        margin: 45px 0;
    }
    body{
        background: rgba(239, 239, 239, 1);
    }
    .loca{
        flex:1;
        order:2;
        width: 100%;
    }
    .contact-message{
        margin:0;
        margin-bottom:45px;
        padding:0 45px;
        flex:1;
        min-width: 35%;
    }
    .contact-message h4{
        font-size: 15px;
    }
    .contact-message p{
        font-size: 10px;
    }
    .chatbox{
        right: 4%;
    }
}
.banner-form{
    display: flex;
}
.m-auto{
    margin:auto;
}